@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appPrimaryColor: #00C49A;
  --appSecondaryColor: #FB8F67;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.themeTransition {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.gradientAnimation {
  background: linear-gradient(to left, var(--appPrimaryColor), var(--appSecondaryColor), #3498DB, #9B59B6, #F39C12);
  background-size: 500% 100%;
  animation: move 10s infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* gradient button on hover */
.gradientButton {
  background-image: linear-gradient(to right, var(--appSecondaryColor) 50%, var(--appPrimaryColor) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
}

.gradientButton:hover {
  background-position: left bottom;
}

.transitionBtn {
  transition: all 1s ease;
}

/* gradient button on hover */