@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.themeTransition {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.gradientAnimation {
  background: linear-gradient(to left, #ffbe0b, #fb5607, #8338ec, #ff006e, #3a86ff);
  background-size: 500% 100%;
  animation: move 10s infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}