@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --appPrimaryColor: #EC644E;
  --appSecondaryColor: #9ABAE3;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* loading */
.loader {
  width: 120px;
  height: 22px;
  border-radius: 20px;
  color: var(--appPrimaryColor);
  border: 2px solid;
  position: relative;
}

.loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: currentColor;
  animation: l6 3s normal;
}

@keyframes l6 {
  100% {
    inset: 0
  }
}

/* loading */

::-webkit-scrollbar {
  width: 0.4em;
  height: 0.4em;
}

::-webkit-scrollbar-track {
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: var(--appSecondaryColor);
  border-radius: 15px;
}

.themeTransition {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.gradientAnimation {
  background: linear-gradient(to left, var(--appPrimaryColor), var(--appSecondaryColor), #3498DB, #9B59B6, #F39C12);
  background-size: 300%;
  animation: move 10s infinite;
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* gradient button on hover */
.gradientButton {
  background-image: linear-gradient(to right, var(--appSecondaryColor) 50%, var(--appPrimaryColor) 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 1s ease;
}

.gradientButton:hover {
  background-position: left bottom;
}

.transitionBtn {
  transition: all 1s ease;
}

/* gradient button on hover */

/* gradient text on hover */
.gradientText {
  background-image: linear-gradient(to right, var(--appSecondaryColor) 50%, var(--appPrimaryColor) 50%);
  background-size: 200%;
  background-clip: text;
  background-position: right;
  transition: all 0.7s ease;
}

.gradientText:hover {
  background-position: left;
}

/* gradient text on hover */

.canadaFlag {
  background-image: url("../public/images/vectors/canada_flag.svg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: brightness(80%);
}