name: Production CI/CD

on:
  push:
    branches: [master]

jobs:
  Checkout:
    runs-on: [self-hosted, production-runner]    
    strategy:
      matrix:
        node-version: [20.15.1]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

  StopTaskScheduler:
    runs-on: [self-hosted, production-runner]
    needs: Checkout
    steps:
      - name: Stop task scheduler
        run: schtasks /end /tn 'dewett.ca-app'
